body {
    color: green;
    font-family: sans-serif;
    text-align: left;
    border: double;
    border-color: green;
}
h2 {
    font-family: sans-serif;
    border: solid;
    border-color: green;
}
title {
    text-align: center;
}