h1 {
    color: green;
    font-family: sans-serif;
    text-align: left;
}

h2 {
    font-family: sans-serif;
    border: solid;
    border-color: green;
}

title {
    text-align: center;
}

table {
    margin: center;
}

.banner {
  background-color: #D3D3D3;
  padding: 120px 0;
  margin-top: 77px;
  text-align: center;
}
